{% extends 'base.html' %}
{% block title_name %}
    Авторизация
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_div }}
            <input type="submit" value="Войти">
        </form>

        <a href="{% url 'regis' %}">Зарегистрироваться</a>
        <a href="{% url 'home_page' %}">Назад</a>
    </div>
{% endblock %}