{% extends 'base.html' %}
{% block title_name %}
    Регистрация
{% endblock %}

{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}

            {{ form.as_div }}
            <input type="submit" value="Зарегистрироваться">
        </form>

        <a href="{% url 'log in' %}">Назад</a>
    </div>
{% endblock %}
