{% extends 'base.html' %}


{% block title_name %}
    Отправка письма
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary">Отправить данные </button>
    </form>
    <a href="{% url 'home_page' %}" class="btn btn-info">Обратно на домашнюю страницу</a>

{% endblock %}