{% extends 'base.html' %}
{% load static %}


{% block title_name %}
    Создание товар
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary">Создать товар</button>
    </form>
    <a href="{% url 'catalog_product_page' %}" class="btn btn-info">Обратно к каталогу</a>

{% endblock %}