{% extends 'base.html' %}
{% load static %}

{% block title_name %}
    Поставщики
{% endblock %}

{% block content %}

    <p>
        <a href="{% url 'home_page' %}">На домашнюю страницу</a>
    </p>

    <div>
        <a href="{% url 'create_suppliers_page' %}">Добавить поставщика</a>
    </div>


    <div>

        {% for supplier in list_sup %}
            -----------------------------------------------------------------
            <h1>{{ supplier.name }}</h1>

            <div>
                <p>
                    Фамилия:{{ supplier.agent_firstname }}<br>
                    Имя:{{ supplier.agent_name }}<br>
                    Отчество:{{ supplier.agent_patronymic }}<br>
                    Телефон:{{ supplier.agent_telephone }}<br>
                    Адрес:{{ supplier.address }}<br>
                </p>

                {#        <p>#}
                {#            <a href="{% url 'detail_suppliers_page' supplier.pk %}">Подробнее...</a>#}
                {#        </p>#}

                <h3>Товары и теги связанные с поставщиком</h3>
                {% for supply in supplier.supply_set.all %}
                    {% for product in supply.product.all %}
                        <h4>{{ product.name }}</h4>
                        {% for tag in product.tag.all %}
                            {{ tag.name }}.
                        {% endfor %}
                        <p>
                            Покупатели:
                            {% for order in product.order_set.all %}
                                {{ order.FIO_customer }}.
                            {% endfor %}
                        </p>


                    {% endfor %}
                {% endfor %}
            </div>
            -----------------------------------------------------------------
            <br>
        {% endfor %}


    </div>
{% endblock %}
