{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание поставщика</title>
    <link rel="stylesheet" href="{% static 'magazine/css/bootstrap.css' %}">

</head>
<body>
<div class="container">
    <h1>Создание поставщика</h1>


    <form method="post">
        {#        Не забываем добавлять csrf_token, он нужен для передачи данных через POST #}
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary">Создать поставщика</button>
    </form>
    <a href="{% url 'catalog_product_page' %}" class="btn btn-info">Обратно к списку товаров</a>
</div>
</body>
</html>