<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КНИГА</title>
</head>
<body>
<a href="/lib/">Обратно</a>
    <h1>Получение одной книги</h1>
    <h1>{{ one_book.name }}</h1>
    <p>{{ one_book.count_pages }}</p>
    <p>{{ one_book.price }}</p>
</body>
</html>