<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вывод всех значений</title>
</head>
<body>
<a href="/lib/">Обратно</a>


{# так выглядят комментарии Django (в браузере не виден) #}
<!-- так выглядят комментарии HTML (в браузере виден) -->

{# {{ var }} - это переменная Django, которая передается через context из view в виде ключа #}
{# в нашем случае у нас в распоряжении есть переменная list #}


<h1>Переменная, получаемая из view (через context):</h1>
<p>
    {{ list }}
</p>

{# {% for %} {% endfor %} - это теги Django (не путать с тегам HTML (я не знаю зачем они назвали также)) #}
{# С их помощью них можно выполнять функции или реализовывать конструкции по типу if или for #}
{# Также имеется тег коммент, позволяющий комментировать блоки #}
{% comment %}
    {% for obj in list %}

    {% endfor %}
{% endcomment %}

{# есть еще фильтры, но они нам пока не понадобятся (в 4 модуле) #}

<div>
    {# В Pycharm Professional есть удобная особенность, все связанные ключи она подтягивает тем самым подсказывает нам #}
    {# Какие ключи нам доступные и что нам передается #}


    {% for obj in list %}
        <h1>Название: {{ obj.name }}</h1>
        <p>ID: {{ obj.pk }}</p>
        <p>Описание: {{ obj.description }}</p>
        <p>Кол-во страниц: {{ obj.count_pages }}</p>
        <p>Цена: {{ obj.price }}</p>
    {% endfor %}
</div>

</body>
</html>