<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
<div>
    {% for book in filter_books %}
        <h1>Название: {{ book.name }}</h1>
        <p>ID: {{ book.pk }}</p>
        <p>Описание: {{ book.description }}</p>
        <p>Цена: {{ book.price }}</p>
        <p>Кол-во страниц: {{ book.count_pages }}</p>
    {% endfor %}
</div>
</body>
</html>