{# Главная страница (я называю его скелетом) #}
{# Здесь находится вся основная СТАТИЧНАЯ часть сайта #}
{# Как и любых других частей, скелетов можно сделать сколько угодно #}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {# Конструкция BLOCK #}
    {# BLOCK в скелете играет роль выделения места для ДИНАМИЧЕСКОГО контента #}
    {# Каждый блок должен иметь своё уникальное название #}
    {# Если блок описывается внутри скелета, то блок выделяет место #}
    {# Внутри блока прописывается контент, который будет выводиться по умолчанию (если блок не переопределяется) #}
    {# Блок можно оставить пустым #}
    {# Чем больше блоков, тем лучше, т.к. есть различные места куда можно что-нибудь подставить #}

    {# Дальнейшее описание работы block будет на странице index.html #}
    <title>{% block title_name %} НАЗВАНИЕ СТРАНИЦЫ {% endblock %}</title>

    {% block link_boostrap %}
        <link rel="stylesheet" href="{% static 'magazine/css/bootstrap.css' %}">
    {% endblock %}

    {% block link_additional %}

    {% endblock %}
</head>
<body>

{% block header %}
    {# Функция include #}
    {# include - подключение компонентов. #}
    {# Какую либо часть можно вынести в компонент, чтобы на одном документе не было большого количества кода #}
    {# Таким образом можно выделать теги header, footer и т.д. К тому же если надо изменить header можно сразу перейти #}
    {# К нужному документу и уже там изменить все что необходимо #}
    {# Как и со скелетом компоненты можно наплодить сколько угодно #}
    {# Компоненты лучше вкладывать в папку _inc и называть через "_" чтобы случайно не добавить/указать страницу #}
    {# Т.е. просто для отделения от других html #}
    {% include '_inc/_header.html' %}
{#    {% include '_inc/_sidebars.html' %}#}
{% endblock %}

<main class="container">
    {#    {% block sidebars %}#}
    {#         <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">#}
    {#            <div class="position-sticky">#}
    {#        {% include '_inc/_sidebars.html' %}#}
    {#            </div>#}
    {#         </nav>#}
    {#    {% endblock %}#}

    {% block message %}
        {% include '_inc/_message.html' %}
    {% endblock %}

    {% block content %}

    {% endblock %}



    {% block additional_content %}

    {% endblock %}

    {% block footer %}
        {% include '_inc/_footer.html' %}
    {% endblock %}
</main>
</body>
</html>